---
layout: default
---

<h1>{{ page.title }}</h1>

{{content}}

<p>
 <i>Last Week In Kubernetes Development (LWKD) is a product of <a href="/authors">multiple contributors</a> participating 
   in Kubernetes SIG Contributor Experience.  All original content is licensed
  <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">Creative Commons Share-Alike</a>, although linked content and images may be differently licensed.
  LWKD does collect some information on readers, see our <a href="https://lwkd.info/#privacy-notice">privacy notice</a> for details.</i>
</p>

<p>
 <i>You may contribute to LWKD by submitting pull requests or issues on the <a href="https://github.com/lwkd/lwkd.github.io">LWKD github repo</a>.</i>
</p>
